.hello {
  background-color: black;
  width: 100px;
  min-height: 100px;
}

body {
  height: 100vh;
}

.listy {
  height: 400px;
  background-color: yellow;
}
.listy li {
  height: 60px;
  background-color: green;
}
